@define-color active-color rgb(13, 235, 255); /* #0DEBFF */
@define-color inactive-color rgb(60, 87, 124); /* #3C577C */
@define-color warning-color rgb(255, 165, 0); /* orange */
@define-color urgent-color rgb(255, 0, 0); /* red */

/* ======================= */
/*         Global          */
/* ======================= */

* {
    font-size: 16px;
    font-weight: bold;
    font-family: "SauceCodePro Nerd Font";
    border: none;
    margin:0;
}
window#waybar {
    background: transparent;
    color: @active-color;
    opacity: 1;
}
window#waybar > * > * {
    border-top: 2px;
    border-style: solid;
    border-color: @active-color;
}
.active { color: @active-color; }
.inactive { color: @inactive-color; }
.warning { color: @warning-color; }
.critical { color: @urgent-color; }

#workspaces button {
    color: @inactive-color;
    padding: 0px 10px;
}
#workspaces button.focused {
    color: @active-color;
}
#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @active-color;
}

#workspaces,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#custom-logout,
#custom-disk-partitions,
#tray,
#clock,
#custom-clock-sao,
#custom-clock-las,
#custom-bluetooth,
#custom-usb-serial {
    margin: 0 10px;
    padding: 4px 10px;
    border-bottom: 2px;
    border-style: solid;
    border-color: @active-color;
}
