@define-color theme-bg-color rgb(30, 43, 62); /* #1e2b3e */
@define-color theme-active-color rgb(13, 235, 255); /* #0debff */
@define-color theme-inactive-color rgb(60, 87, 124); /* #3c577Cc*/
@define-color theme-warning-color rgb(255, 165, 0); /* #ffa500 */
@define-color theme-urgent-color rgb(255, 0, 0); /* #ff0000 */

/* ======================= */
/*         Global          */
/* ======================= */

* {
    font-size: 16px;
    font-weight: bold;
    font-family: "SauceCodePro Nerd Font";
    border: none;
    margin:0;
    opacity: 0.95;
}

window#waybar {
    background: transparent;
    color: @theme-active-color;
}
/* Module container */
window#waybar > * > * {
    border-top: 2px;
    border-style: solid;
    border-color: @theme-active-color;
}
/* Modules */
window#waybar > * > * > * > * {
    border-bottom: 2px;
    border-style: solid;
    border-color: @theme-active-color;
    margin: 0 10px;
    padding: 4px 10px;
}

#tray menu, tooltip {
    background-color: @theme-bg-color;
    border: 2px solid @theme-active-color;
}

/* ======================= */
/*         Modules         */
/* ======================= */

#workspaces button {
    color: @theme-inactive-color;
    padding: 0px 10px;
}
#workspaces button.focused {
    color: @theme-active-color;
}
#workspaces button.urgent {
    color: @theme-urgent-color;
}
#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @theme-active-color;
}

#custom-usb-serial.active {
    color: @theme-active-color;
    border-color: @theme-active-color;
}
#custom-usb-serial.inactive {
    color: @theme-inactive-color;
    border-color: @theme-inactive-color;
}

#battery.warning,
#pulseaudio.muted,
#idle_inhibitor.activated {
    color: @theme-warning-color;
    border-color: @theme-warning-color;
}

#temperature.critical,
#battery.critical {
    color: @theme-urgent-color;
    border-color: @theme-urgent-color;
}
