* {
    font:                        "SauceCodePro Nerd Font 11";
    background:                  #1e2b3e;
    background-alt:              #24344a;
    foreground:                  #ffffff;
    selected:                    #0cbfd1;
    selected-text:               #44475a;
    active:                      #0debff;
    inactive:                    #3c577c;
    urgent:                      #ff2828;
}
