@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#browser { margin-top: -1px !important; }

/*
==========================
           App
==========================
*/

#appcontent,
#appcontent > #content,
#appcontent > #content > tabbox > tabpanels {
    background: #1d2021 !important;
}

:root {
    --toolbarbutton-border-radius: 0px !important;
}

/*
==========================
        Buttons
==========================
*/

#alltabs-button,
#back-button,
#forward-button,
#go-button,
#home-button,
#library-button,
#new-tab-button,
#page-action-buttons,
#reader-mode-button,
#reload-button,
#sidebar-button,
#star-button,
#stop-button,
#PersonalToolbar,
#CustomizeToolbarWindow,
#search-container,
#main-menubar,
.tabs-newtab-button,
.tabs-closebutton-box,
.tab-close-button {
    display: none !important;
}

#downloads-button {
    display: block !important;
}

/*
==========================
          Tabs
==========================
*/

.tabbrowser-tab {
    border-bottom: 0px none !important;
    box-shadow: none !important;
}

.tabbrowser-tab[selected=true] {
    background: #5675b9 !important;
}

.tabbrowser-tab:hover {
    background: #415074 !important;
}

.tabbrowser-tab:before,
.tabbrowser-tab:after {
    visibility: hidden !important;
}

.tabbrowser-tab *,
.tab-stack * {
    font-size: 11px !important;
    font-family: Hack;
}

/* Closer pinned tab icons */
.tab-content[pinned] {
  border: none !important;
}

/* Resize the pinned tabs */
.tabbrowser-tab[pinned], .tabs-newtab-button {
    max-width: 36px !important;
    min-width: 36px !important;
}

/* Keep the pinned tab icon aligned center when tabs are compacted */
:root:not([uidensity="compact"]) .tab-content[pinned] {
    padding: 0 10px !important;
}

/* Remove the spinning wheel but keep the loading animation */
.tab-throbber {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png") !important;
}

/* Hide the new curved tab edges */
.tab-background {
    opacity: 0 !important;
}

/*
==========================
        Tool Bars
==========================
*/

/* Set toolbars height */
#titlebar, #tabbrowser-tabs {
    --tab-min-height: 26px !important;
}
#nav-bar {
    height: 26px !important;
    margin-top:-2px !important;
}

/* Align toolbar plugin's buttons with pinned tabs */
#nav-bar .toolbarbutton-1 {
    max-width: 36px !important;
    min-width: 36px !important;
}

#TabsToolbar, #nav-bar, #urlbar {
    background: #2e3132 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 0 0 0 !important;
}

/* Set toolbars order */
#nav-bar { -moz-box-ordinal-group: 1 !important; }
#TabsToolbar { -moz-box-ordinal-group: 2 !important; }

#urlbar {
    border-color: #2e3132 !important;
    font-family: Hack;
    font-size: 11px;
}

#urlbar, .searchbar-textbox {
    min-height: 20px !important;
}

/*
==========================
   Color urlbar based on
     website security
==========================
*/

#urlbar {
    position: relative;
    z-index: 1;
}

#identity-box:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    background-color: transparent;
    opacity: 0.3;
}

/* about:about */
#urlbar[pageproxystate='valid'] #identity-box.unknownIdentity:after {
	background: #ff0039; /* Firefox Red 50 */
}

/* about:config */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI:after {
	background: #0a84ff; /* Firefox Blue 50 */
}

/* uBlock Origin Dashboard */
#urlbar[pageproxystate='valid'] #identity-box.extensionPage:after {
	background: #45a1ff; /* Firefox Blue 40 */
}

/* https://www.github.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after{
	background: #058b00; /* Firefox Green 70 */
}

/* https://www.google.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after{
	background: #12bc00; /* Firefox Green 60 */
}

/* https://mixed-script.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after {
	background: #30e60b; /* Firefox Green 50 */
}

/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after {
	background: #d7b600; /* Firefox Yellow 60 */
}

/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after {
	background: #d7b600; /* Firefox Yellow 60 */
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after {
	background: #ffe900; /* Firefox Yellow 50 */
}

/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after {
	background: #a47f00; /* Firefox Yellow 70 */
}

/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after {
	background: #d70022;  /* Firefox Red 60 */
}

/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after {
	background: #a4000f;  /* Firefox Red 70 */
}
