-- vim: ts=2 sw=2 noet ai cindent syntax=lua

conky.config = {
	background = false,
	cpu_avg_samples = 2,
	double_buffer = false,
	draw_borders = false,
	draw_outline = false,
	draw_shades = false,
	if_up_strictness = 'address',
	out_to_console = true,
	out_to_x = false,
	override_utf8_locale = false,
	own_window = false,
	short_units = true,
	total_run_times = 0,
	update_interval = 2.0,
	use_spacer = 'right',
}

conky.text = [[
    [

		${if_up eth0}
		    {
		         "full_text":"  - ${totaldown eth0}  ${downspeed eth0}  ${upspeed eth0} ",
		         "border": "\#9FBC00",
		         "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		    },
		${else}
		    { "full_text":" !", "color": "\#F08080"},
		${endif}

		${if_up wlo0}
		    {
		        "full_text":" ${wireless_link_qual wlo0}- ${totaldown wlo0}  ${downspeed wlo0}  ${upspeed wlo0}",
		        "border": "\#9FBC00",
		        "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		    },
		${else}
		    { "full_text":" !", "color": "\#F08080"},
		${endif}

		{
		    "full_text":"  ${fs_free /} -   ${fs_free /home}",
		    "border": "\#DC7633",
		    "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		},

		{
		    "full_text":"  $mem/ $memperc% -   ${cpu cpu0}",
		    "border": "\#A569BD",
		    "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		},

		{
		    "full_text":"  ${exec lux -G}",
		    "border": "\#f5b041 ",
		    "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		},

		${if_match "${exec amixer -c 0 get Master | grep Mono: | grep -o "off"}" == "off"}
		    { "full_text":" !", "color": "\#F08080" },
		${else}
		    {
		        ${if_match "${exec pacmd list-sinks | \
		                           sed -n 's/.*active port: <analog-output-\(.*\)>/\1/p'}" == "speaker"}
		            "full_text":"  ${exec amixer -c 0 get Master | grep Mono: | \
		                                    cut -d' ' -f6 | grep -E -o "[0-9]{1,3}"}",
		        ${else}
		            ${if_match "${exec pacmd list-sinks | \
		                               sed -n 's/.*active port: <analog-output-\(.*\)>/\1/p'}" == "headphones"}
		            "full_text":"   ${exec amixer -c 0 get Master | grep Mono: | \
		                                    cut -d' ' -f6 | grep -E -o "[0-9]{1,3}"}",
		        ${else}
		            "full_text":"  ?",
		        ${endif}
		        ${endif}
		        "border": "\#DF0000",
		        "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		    },
		${endif}

		{ "full_text":

		${if_empty ${battery BAT0}}
		    "  !", "color": "\#F08080",
		${else}
		    ${if_match "$acpiacadapter" != "on-line"}
		        "  $battery_percent",
		        ${if_match $battery_percent <= 15}
		            "color": "\#F08080",
		        ${endif}
		    ${else}
		        "  $battery_percent",
		    ${endif}
		${endif}
		    "border": "\#E5E7E9",
		    "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		},

		{
		    "full_text":"  $tztime",
		    "border": "\#E5E7E9",
		    "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
		},
		{ "full_text": "" }
    ],
]]
