-- vim: ts=4 sw=4 noet ai cindent expandtab syntax=lua

conky.config = {
    background = false,
    double_buffer = false,
    draw_borders = false,
    draw_outline = false,
    draw_shades = false,
    out_to_console = true,
    out_to_x = false,
    override_utf8_locale = false,
    own_window = false,
    short_units = true,
    if_up_strictness = 'address',
    cpu_avg_samples = 2,
    total_run_times = 0,
    update_interval = 5.0,
    use_spacer = 'right',
}

conky.text = [[
    [

    ${exec i3bar-coins --symbol --money EUR BTC,BCH,ETH,ETC,LTC},

{ "full_text": "                                         " },
{ "full_text": "                                         " },

    ${if_up eth0}
{
    "full_text":"  - ${totaldown eth0}  ${downspeed eth0}  ${upspeed eth0} ",
        "border": "\#9FBC00",
        "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
},
    ${else}
{ "full_text":" !", "color": "\#F08080"},
    ${endif}

    ${if_match "${exec rfkill -n list wifi \
        | sed -n 's%.*blocked: \(yes\)%\1%p' \
            | head -n1}" == "yes" }
{ "full_text":" x", "color": "\#F08080"},
    ${else}
    ${if_up wlo0}
{
    "full_text":" ${wireless_link_qual wlo0}- ${totaldown wlo0}  ${downspeed wlo0}  ${upspeed wlo0}",
        "border": "\#9FBC00",
        "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
},
    ${else}
{ "full_text":" !", "color": "\#F08080"},
    ${endif}
    ${endif}

    ${if_match "${exec rfkill -n list bluetooth \
        | sed -n 's%.*blocked: \(yes\)%\1%p' \
            | head -n1}" == "yes" }
{ "full_text":" x", "color": "\#F08080" },
    ${else}
    ${if_match "${exec systemctl status bluetooth.service \
        | sed -n 's/.*Active: \([a-z]\+\).*/\1/p'}" == "active"}
{
    "full_text":" ",
        "border": "\#9FBC00",
        "border_bottom": 2, "border_top": 0, "border_left": 0, "border_right": 0
},
    ${else}
{ "full_text":" !", "color": "\#F08080" },
    ${endif}
    ${endif}

    ${if_empty ${exec ls -1 /dev | egrep "sd[b-z]$"}}
{ "full_text":" !", "color": "\#FF8080" },
    ${else}
{ "full_text":"  ${exec ls -1 /dev | egrep "sd[b-z]$"  | wc -l}" },
    ${endif}

    ${if_empty ${exec ls -1 /dev | egrep "^tty(ACM|USB)[0-9]$"}}
{ "full_text":" !", "color": "\#FF8080" },
    ${else}
{ "full_text":"  ${exec ls -1 /dev | egrep "^tty(ACM|USB)[0-9]$" | wc -l}" },
    ${endif}

    ${if_empty ${exec ls -1 /dev | egrep "^mmcblk[0-9]$"}}
{ "full_text":"SD!", "color": "\#FF8080" },
    ${else}
{ "full_text":"SD" },
    ${endif}
{ "full_text": "" }
],
    ]]
