[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Categories=Network;WebBrowser;
Icon=firefox
StartupNotify=true
StartupWMClass=firefox
Terminal=false
Type=Application
X-MultipleArgs=false
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Exec=firefox %u
