@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* DOM I want to hide */
#alltabs-button,
#back-button,
#forward-button,
#go-button,
#home-button,
#library-button,
#new-tab-button,
#page-action-buttons,
#reader-mode-button,
#reload-button,
#sidebar-button,
#star-button,
#stop-button,
#PersonalToolbar,
#CustomizeToolbarWindow,
#search-container,
#main-menubar,
#window-controls,
#tabbrowser-arrowscrollbox-periphery,
.titlebar-close,
.titlebar-spacer,
.tabs-newtab-button,
.tabs-closebutton-box,
.tab-close-button {
    display: none !important;
}

/**
 * Custom navigator toolbox
 *
 * DOM overview:
 *    --------------------------------------------------------------------
 *   |                          #navigator-toolbox                        |
 *   | [  [#TabsToolbar]                       ] #titlebar (or "tab bar") |
 *   | [  [#urlbar] <toolbar(button|item)/>... ] #nav-bar  (or "url bar") |
 *    --------------------------------------------------------------------
 *   |                               #browser                             |
 *   .                                                                    .
*/

#browser {
    margin-top: -1px !important;
}

/* Reduce height of tabs */
#titlebar {
    --tab-min-height: 28px !important;
}

#navigator-toolbox, #nav-bar, #titlebar, #urlbar {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#titlebar, #nav-bar, #urlbar-background, #navigator-toolbox-background {
    background-color: #292c34 !important;
}

/**
 * Colors the identity box of urlbar based on website security.
 * The identity box is the locker icon in the URL bar on the left.
 */

#identity-box {
    border-radius: 4px !important;
    margin-left: 2px !important;
}

/* https://www.github.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity,
/* https://www.google.com/ */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain {
       background: #5fd700 !important; /* ok=green */
}

/* https://mixed-script.badssl.com/ (form subits to HTTP) */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked,
/* https://mixed.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent,
/* https://very.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked {
       background: #ff8c00 !important; /* risky=yellow */
}

/* https://self-signed.badssl.com/ but add certificate exception */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden,
/* Don't know an example for this */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher,
/* https://mixed-script.badssl.com/ but disable protection */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent,
/* http://http-login.badssl.com/ */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms {
       background: #ff2828 !important;  /* dangerous=red */
}
